@media screen and (max-width: 1300px) {
    .banner_text h1 {
        width: 80%
    }

    .banner_text p {
        width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    .all_main_cards {
        flex-direction: column;
    }

    .main_cards {
        height: 350px;
    }
}

@media screen and (max-width: 992px) {
    .banner_text h1 {
        width: 100%;
    }

    .banner_text p {
        width: 100%;
    }

    .all_main_cards {
        padding: 0;
    }

    .main_cards {
        height: 450px;
    }
}

@media screen and (max-width: 900px) {
    .banner_text h1 {
        font-size: 1.2rem;
    }

    .banner_text p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 900px) {
    .header_body {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0 6rem 0;
    }

    .header_body a {
        margin-left: auto;
    }

    .header_body .header_contacts {
        margin-right: auto;
    }

    .floating_nav .nav_bar_full {
        top: auto;
        bottom: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    .banner_text button {
        display: none;
    }

    .about_right_area .info-card-1 {
        position: absolute;
        top: 10%;
        right: 55%;
    }
}

@media screen and (max-width: 450px) {
    .header_contacts {
        flex-direction: column;
    }

    .banner_text p {
        display: none;
    }

    .banner_text h1 {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .main_cards {
        height: 100%;
        position: static;
        padding: 2rem 0;
        margin: 0;
    }

    .left_card_area {
        flex-direction: column;
    }

    .main_card .top_icon {
        justify-content: center;
    }

    .main_card h2,
    .main_card p {
        text-align: center;
    }
}